In [4]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\asus\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\asus\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [1]:
import os, sys
from pyspark.sql import SparkSession

In [2]:
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
data = [('John', 45, 'IT'),('Mac',40,'HR'),('Sam',33,'IT')]

spark = SparkSession.builder.master('local[*]').appName('app_1').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [5]:
rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [6]:
df = rdd.toDF()

In [7]:
df

DataFrame[_1: string, _2: bigint, _3: string]

In [8]:
df.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)
 |-- _3: string (nullable = true)

In [9]:
columns = ['Name', 'Age', 'Department']
df_2 = rdd.toDF(columns)

In [10]:
df_2

DataFrame[Name: string, Age: bigint, Department: string]

In [11]:
df_2.show()

+----+---+----------+
|Name|Age|Department|
+----+---+----------+
|John| 45|        IT|
| Mac| 40|        HR|
| Sam| 33|        IT|
+----+---+----------+

In [12]:
df = spark.read.csv('diabetes.csv')

In [13]:
df.show(5)

+-----------+-------+-------------+-------------+-------+----+--------------------+---+-------+
|        _c0|    _c1|          _c2|          _c3|    _c4| _c5|                 _c6|_c7|    _c8|
+-----------+-------+-------------+-------------+-------+----+--------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeF...|Age|Outcome|
|          6|    148|           72|           35|      0|33.6|               0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|               0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|               0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|               0.167| 21|      0|
+-----------+-------+-------------+-------------+-------+----+--------------------+---+-------+
only showing top 5 rows